<!DOCTYPE html>
<html>
<head>
  <title>SellAndShip</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div>
    <%= image_tag("logo.png") %>
    <%= @page_title || "Sell&Ship" %>
  </div>
  <div id="columns">
    <div id="side">
      <div id="cart">
        <%= render @cart %>
      </div>

      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">FAQs</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
      <span id="time">The time this page was loaded: <%= Time.now.to_formatted_s(:long) %></span>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
